.Title {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: #000f38;
    text-transform: uppercase;
    margin: 70px 0 30px;
}

.Title .h2 {
    font-size: 32px;
    margin-top: 5px;
    text-transform: none;
}